<h5 class="text-center" id="personalPosttitle">Your Posts</h5>
<section class="container">
    {{#each post}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/post/{{id}}">{{title }}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by:{{User.username}} on {{format_date createdAt}}</h6>
            <p class="card-text">{{body}}</p>
            <button class="updateButton">Edit Post</button>

        </div>
    </div>
    {{/each}}
</section>
<br>
<br>
<section class="container ">
    <div class="card text-center addSection" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">
                Add New Post
            </h5>
            <form style="display: none;">
                <input type="hidden" value={{user.id}} />
                <br>
                <label for="posttitle">Post Title</label>
                <input type="text" id="posttitle" placeholder="Insert Techy Title" />
                <br>
                <label for="postbody">Post Body</label>
                <input type="text" id="postbody" placeholder="Insert Techy Text" />
                <button class="commentButton">Post</button>

            </form>
        </div>
    </div>
    <script src="js/newPost.js"></script>